<h1>Add a new riddle</h1>

<form action="/riddles" method="post">
  <div class="form-group">
    <label for="name">Riddle name</label>
    <input id="n" name="name" class="form-control" type="text">
    <label for="question">Question</label>
    <input id="n" name="question" class="form-control" type="text">
    <label for="answer">Answer</label>
    <input id="n" name="answer" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
